{% extends 'base.html.twig' %}

{% block body %}

<div id="wrapper">
    <div id="container" class="container-fluid">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Organisation
                </th>
                <th>
                    Address
                </th>

                <th>
                    Postcode
                </th>
                <th>
                    Email
                </th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>
                        {{ contact.firstName }}
                    </td>

                    <td>
                        {{ contact.lastName }}
                    </td>

                    <td>
                        <a href="{{ path('organisation', {'id': contact.organisation.id}) }}">{{ contact.organisation }}</a>
                    </td>

                    <td>

                    </td>

                    <td>

                    </td>

                    <td>
                        {{ contact.email }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}