{% extends 'base.html.twig' %}

{% block body %}

<div id="wrapper">
    <div id="container" class="container-fluid">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Salutation
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Organisation
                </th>
                <th>
                    Job Title
                </th>

                <th>
                    Phone Number
                </th>
                <th>
                    Extension
                </th>
                <th>
                    Email
                </th>

                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>

                    <td>
                        {{ contact.salutation }}
                    </td>

                    <td>
                        {{ contact.firstName }}
                    </td>

                    <td>
                        {{ contact.lastName }}
                    </td>

                    <td>
                        <a href="{{ path('organisation', {'id': contact.organisation.id}) }}">{{ contact.organisation }}</a>
                    </td>

                    <td>
                        {{ contact.jobTitle }}
                    </td>

                    <td>
                        {{ contact.phoneNumber }}
                    </td>

                    <td>
                        {{ contact.extension }}
                    </td>

                    <td>
                        {{ contact.email }}
                    </td>
                    <td>
                        <a href="{{ path('contact-edit', {'id': contact.id}) }}" class="btn btn-default">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}