{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container" class="container-fluid">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    City
                </th>
                <th>
                    Postcode
                </th>

                <th>
                    Country
                </th>
                <th>
                    Website
                </th>
            </tr>
            </thead>
            <tbody>
            {% for organisation in organisations %}
                <tr>
                    <td>
                        {{ organisation.name }}
                    </td>

                    <td>
                        {{ organisation.address1 }}
                        {{ organisation.address2 }}
                        {{ organisation.address3 }}
                    </td>

                    <td>
                        {{ organisation.city }}
                    </td>
                    <td>
                        {{ organisation.postcode }}
                    </td>
                    <td>
                        {{ organisation.country }}
                    </td>

                    <td>
                        {{ organisation.city }}
                    </td>

                    <td>
                        <a href="{{ organisation.web_address }}" target="_blank">{{ organisation.web_address }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}